## LAB -6

## 1)Create an empty dictionary.

In [8]:
dict1={}
dict1

{}

## 2.	Create the following dictionary 
	Key	value
	A	10
	B	20

In [11]:
dict1={"A":10,"B":20}
dict1

{'A': 10, 'B': 20}

## 3.	Create a dictionary with different datatypes for keys.

In [1]:
dict1={"A":"D", 2:"R", 3.8:"11"}
dict1

{'A': 'D', 2: 'R', 3.8: '11'}

## 4.	Print all the items of a dictionary

In [2]:
dict1={"A":"D", 2:"R", 3.8:"11"}
print(dict1)

{'A': 'D', 2: 'R', 3.8: '11'}

## 5.Delete an element of a dictionary

In [3]:
dict1={"A":"D", 2:"R", 3.8:"11"}
del(dict1[2])
dict1

{'A': 'D', 3.8: '11'}

##  6.Delete full dictionary

In [6]:
dict1={"A":"D", 2:"R", 3.8:"11"}
del(dict1)

## 7.	Print a value for a key

In [5]:
dict1={"A":"D", 2:"R", 3.8:"11"}
print(dict1[3.8])

11

##  8.To check if a key id present in a dictionary

In [7]:
dict1={"A":"D", 2:"R", 3.8:"11"}
"A" in dict1

True

##  9.Update a value of a key

In [8]:
dict1={"A":"D", 2:"R", 3.8:"11"}
dict1[3.8]="2k19"
print(dict1)

{'A': 'D', 2: 'R', 3.8: '2k19'}

## 10.	Add a new key value pair

In [10]:
dict1={"A":"D", 2:"R", 3.8:"11"}
dict1["b"]="2K19"
dict1

{'A': 'D', 2: 'R', 3.8: '11', 'b': '2K19'}

##  11.	Print dictionary for keys{1,10} and values as square of keys

In [33]:
dict1={}
for i in range(1,11):
    dict1[i]=i*i
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

##  12. Print nested dictionary

In [38]:
dict1={1:"a", 2:"b", 3:{4:"c",5:"d"}, 6:"e" }
print(dict1)

{1: 'a', 2: 'b', 3: {4: 'c', 5: 'd'}, 6: 'e'}

## 13.	Concatenate three dictionaries
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [43]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dict1={**dic1, **dic2, **dic3}
dict1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

## 14.	Sum all the values of a dictionary.

In [55]:
dic1={1:1, 2:2, 3:3, 4:4, 5:5}
len1=len(dic1)
sum=0
for i in range(1,len1+1):
    sum+=dict1[i]
print(dic1)
print(sum)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5}
15

## 15.	Accessing an element of a nested dictionary

In [60]:
dict1={1:"a", 2:"b", 3:{4:"c",5:"d"}, 6:"e" }
dict1[3][5]

'd'

## 16.	Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys.
Sample Dictionary
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [61]:
dict1={}
for i in range(0,16):
    dict1[i]=i*i
print(dict1)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

## 17.	Insert factorial of keys in values. And print dictionary

d={1:1,2:2,3:6,4:24,5:120â€¦.}

In [67]:
def factorial(n):
    fact=1
    for i in range(1,n+1):
        fact=i*fact
    return fact
dict1={}
for i in range (1,7):
    dict1[i]=factorial(i)
print(dict1)

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120, 6: 720}

# Sets
## 1.	Write a program to create a set

In [70]:
sets={1,2,3,1}
sets

{1, 2, 3}

## 2.	Write a program to add an element to set

In [71]:
set1={1,2,3,4}
set1.add(5)
print(set1)

{1, 2, 3, 4, 5}

## 3.	Write a program to add multiple items using update function

In [74]:
set1={1,2,3,4}
set2={5,6,7}
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6, 7}

## 4.	Write a program to find length of a set

In [75]:
set1={1,2,3,4}
print(len(set1))

4

## 5.	Write a program to remove value from a set

In [77]:
set1={1,2,3,4}
set1.remove(3)
set1

{1, 2, 4}

## 6.	Write a program to pop an element from a set

In [81]:
set1={3,4,1}
set1.pop()

1

## 7.	Write a program to update a set

In [83]:
set1={1,2,3,4}
set2={5,6,7}
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6, 7}

 ## 8.	Write a Python program to create an intersection of sets.

In [11]:
set1={1,2,3,4,5}
set2={3,4,5,6}
print(set1 & set2)

{3, 4, 5}

## 9.	Write a Python program to create a union of sets.

In [89]:
set1={1,2,3,4}
set2={4,5,6,7}
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}

## 10.	Write a Python program to clear a set.

In [90]:
set1={1,2,3,4}
set1.clear()
set1

set()

## 11.	Write a Python program to issubset and issuperset.

In [94]:
set1={1,2,3,4,5,6,7}
set2={3,4,5}
print(set2.issubset(set1))
print(set1.issuperset(set2))

True
True

## 12.	Write a Python program to create set difference.

In [102]:
set1={1,2,3,4,5,6,7}
set2={3,4,5,9,8}
set3=set1.difference(set2)  
set3

{1, 2, 6, 7}

##  13.	Write a Python program to create a symmetric difference.

In [103]:
set1={1,2,3,4,5,6,7}
set2={3,4,5,9,8}
symmetricdifference=(set1-set2).union(set2-set1)
symmetricdifference

{1, 2, 6, 7, 8, 9}